*{
    margin: 0;
    padding: 0;
}

body{
   background-color: #f4f4f4;
}

.Heading h1  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #333333; 
    transition: color 0.3s ease;
    
}

.Heading h1:hover{
    color: #4CAF50; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}


nav{
    background-color:   #E8F5E9  ;
    color:  #333333;
    padding: 15px

}
li{
  display: inline;
  color: #2E8B57;
  cursor: pointer;

}

ul,h1{
    text-align: center;
    padding: 5px;
}
li:hover{
    color: #4CAF50;
}


.box{
     border-color: black;
     border-width: 2px;
     border-style: solid;
     width: 220px;
     display: inline-block;
     margin-top: 40px;
     
     
}


.box img{
    width: 220px;
    height: 220px;
    transition: transform 0.3s ease; box-shadow: 0,3s ease;
    
}
.Product{
    text-align: center;
   
}

.box img:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0,0, 0.3);
}
.box:hover{
   background-color: #556B2F ;
   color: white;
   transition: background-color 0.3s ease,color 0.3s ease;
   
}

.box button{
    margin-top: 2px;
    background-color: #3CB371 ;
    color: white;

}


.about{
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
    
}
.Contact{
    margin-top: 20px;
    background-color: #2E8B57;
    color: black;
    padding: 20px;
    font-family: 'Roboto', sans-serif
    
}




.Contact button{
    background-color: #4CAF50  ;
    width: 400px;
    text-align: center;
}

.about h2{
    font-family: 'Roboto', sans-serif;
}
